body{
    background-color: rgba(33, 140, 148, 0.912);
}

h1{
    color:rgba(255, 179, 0, 0.871);
    background-color: bisque;
}

#shs{
    float: right;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}


p{
    padding-top: 10px;
    font-size: 25px;
}